/*--------------------------------------------------------------------- 
File Name: responsive.css 
---------------------------------------------------------------------*/


@media (min-width: 1200px) {
    .logo-image {
        max-width: 200px;
    }

    .why-container {
        max-width: 40%;
    }
    
}

@media (max-width: 1199px) {
    .why-title {
        max-width: 50%;
        padding-bottom: 1rem;
    }

    .why-background {
        background-position: 
            bottom 20px center;
        background-image: 
            url("../images/thermly_house_side.svg");
        background-color:  var(--light-mint-color);
        background-repeat: no-repeat;
        background-size:
            100% auto;
    }

    .why-container {
        margin-bottom: 250px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .logo-image {
        max-width: 200px;
    }

    .site-navbar ul li {
        padding-right: 30px;
    }

    .mar_right {
        margin-right: 0;
    }

    .header-text .read_more {
        margin-right: 0;
    }

    #banner1 .carousel-control-next {
        right: 39.1%;
    }

    #myCarousel .carousel-control-next {
        right: 39.1%;
    }
}

@media (min-width: 484px) and (max-width: 991px) {
    .grid {
        display: inline-block
    }

    .footer .grid {
        display: grid;
    }

    .flex-card {
        margin-bottom: 1rem;
    }
}

@media (max-width: 991px) {
    .grid-equal-2,
    .grid-split-2,
    .grid-article-container {
        display: inline-block !important;
    }

    .grid-equal-2 > div:nth-child(2),
    .grid-split-2 > div:nth-child(2),
    .grid-article-container > div:nth-child(2),
    .how-it-works-grid > div:nth-child(2) {
        margin-top: 2rem;
    }

    .how-it-works-grid {
        display: flex;
        flex-direction: column-reverse;
    }

    .how-it-works-rule {
        border-right: none;
        margin: 0;
        padding: 0;
    }

    .article-side-content {
        width: 100%;
        height: auto;
    }

    .article-image {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .site-navbar ul li {
        padding-right: 30px;
    }

    .mar_right {
        margin-right: 0;
    }

    .intro-text {
        padding: 5px 0 15px 0;
    }

    .header-text .read_more {
        margin-right: 0;
    }

    #banner1 .carousel-control-next {
        right: 39.1%;
    }

    #banner1 .carousel-control-prev {
        left: 40.7%;
    }

    #myCarousel .carousel-control-next {
        right: 39.1%;
    }

    #myCarousel .carousel-control-prev {
        left: 40.7%;
    }

    .question-card {
        height: 72px;
    }

    .titlepage h2 {
        font-size: 37px;
        line-height: 45px;
    }

    .how-it-works h2 {
        font-size: 37px;
        line-height: 45px;
    }

    .how-it-works-button {
        justify-content: center;
    }

}

@media (max-width: 991px) {
    .about-us-header {
        height: auto;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    header,
    main {
        width: calc(100vw - 40px);
    }

    footer {
        width: calc(100vw - 88px);
    }

    .nav_button {
        display: none;
    }

    .about {
        margin: 0 15px;
    }

    .full_bg {
        height: 100%;
    }

    .order {
        order: -1;
    }

    .question-card {
        margin-top: 20px;
    }

    .mar_right {
        margin-right: 0px;
    }

    .services_box figure {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .header-area {
        height: 8vh;
        padding: 10px 0;
        /* margin: 0 30px;
        width: calc(100vw - 70px); */
    }

    .slider_main {
        height: 90vh;
        margin-bottom: 0 15px 2vh 15px;
    }

    .why-container {
        margin-bottom: 150px;
    }

    .logo-image {
        height: 100%;
        width: auto;
    }

    .header-text {
        text-align: center;
    }

    .intro-text {
        display: none;
    }

    .intro-text-mobile {
        display: block;
    }

    .header-img {
        width: auto;
        height: fit-content;
    }

    .header-button-row {
        justify-content: center;
        padding: 10px 15px;
    }

    #banner1 .carousel-control-prev,
    #banner1 .carousel-control-next {
        top: 103%;
    }

    #banner1 .carousel-control-next {
        right: 36.7%;
    }

    #banner1 .carousel-control-prev {
        left: 36.7%;
    }

    #myCarousel .carousel-control-prev,
    #myCarousel .carousel-control-next {
        top: 108%;
    }

    #myCarousel .carousel-control-next {
        right: 36.7%;
    }

    #myCarousel .carousel-control-prev {
        left: 36.7%;
    }

    .titlepage h2 {
        font-size: 34px;
        line-height: 40px;
    }

    .how-it-works h2 {
        font-size: 34px;
        line-height: 40px;
    }

    .how-it-works-button {
        justify-content: center;
    }

    .pro_file span {
        padding-bottom: 30px;
    }

    .d_none {
        display: none !important;
    }

    .agency {
        margin-top: 30px;
        display: none;
    }

    .latest {
        max-width: 377px;
        margin: 0 auto;
        margin-bottom: 55px;
    }

    /* navbar css for mobile start */
    .nav-toggler {
        display: block;
    }

    .site-navbar {
        max-height: 0;
    }

    .site-navbar ul {
        position: absolute;
        width: 75%;
        right: 0px;
        top: 30px;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        max-height: 0;
        overflow: hidden;
        transition: .3s;
        z-index: 99999;
        box-shadow: 0 0 10px rgb(192, 190, 182);
    }

    .site-navbar ul li {
        width: 100%;
        text-align: left;
        padding-right: 0;
    }

    .site-navbar ul li a {
        padding: 25px 25px 0px 25px;
    }

    .site-navbar ul.open {
        max-height: 100vh;
        padding-bottom: 25px;
        overflow: visible;
    }

    .footer-logo {
        max-width: 125px;
    }

    .quote {
        margin: 0 -20px;
    }

    /* navbar css for mobile end */
}

@media (max-width: 575px) {
    .mobile {
        display: inline-block;
    }

    .non-mobile {
        display: none;
    }

    .full_bg {
        height: 100%;
    }

    .nav_button {
        display: none;
    }

    .slider_main {
        padding: 0;
        height: 88vh;
        margin-bottom: 2vh;
        background-image: url("");
        background-color:  var(--blue-color);
        background-repeat: no-repeat;
    }

    .slider_community_background {
        background-color: var(--light-green-color);
    }

    .about-us-header,
    .heat-pumps-header,
    .installers-header,
    .how-it-works-header {
        background-image: url("");
    }

    .why-background {
        background-position: 
            bottom 20px center;
        background-image: 
            url("../images/thermly_house_side_mobile.svg");
        background-color:  var(--light-mint-color);
        background-repeat: no-repeat;
        background-size:
            100% auto;
    }

    header,
    main {
        width: calc(100vw - 40px);
    }

    footer {
        width: calc(100vw - 88px);
    }

    .about {
        margin: 0 10px;
    }

    .logo {
        text-align: left;
    }

    .question-card {
        margin-top: 20px;
    }

    .header-area {
        height: 8vh;
        padding: 10px 0;
    }

    .logo-image {
        height: 100%;
        width: auto;
    }

    .header-text {
        text-align: center;
    }

    .intro-text {
        display: none;
    }

    .intro-text-mobile {
        display: block;
    }

    .header-img {
        width: auto;
        height: fit-content;
    }

    .header-button-row {
        justify-content: center;
        padding: 10px 15px;
    }

    .services_box figure {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .mar_right {
        margin-right: 0px;
    }

    #banner1 .carousel-control-prev,
    #banner1 .carousel-control-next {
        top: 103%;
    }

    #banner1 .carousel-control-next {
        right: 25.7%;
    }

    #banner1 .carousel-control-prev {
        left: 25.7%;
    }

    #myCarousel .carousel-control-prev,
    #myCarousel .carousel-control-next {
        top: 108%;
    }

    #myCarousel .carousel-control-next {
        right: 25.7%;
    }

    #myCarousel .carousel-control-prev {
        left: 25.7%;
    }

    .titlepage h2 {
        font-size: 34px;
        line-height: 40px;
    }

    .how-it-works h2 {
        font-size: 34px;
        line-height: 40px;
    }

    .how-it-works-button {
        justify-content: center;
    }

    .pro_file span {
        padding-bottom: 30px;
    }

    .order {
        order: -1;
    }

    .latest {
        max-width: 317px;
        margin: 0 auto;
        margin-bottom: 55px;
    }

    .d_none {
        display: none !important;
    }

    /* navbar css for mobile start */
    .navbar-area {
        margin-top: -67px;
    }

    .nav-toggler {
        display: block;
    }

    .site-navbar {
        max-height: 0;
    }

    .site-navbar ul {
        position: absolute;
        width: 100%;
        left: 0px;
        top: 0px;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        max-height: 0;
        overflow: hidden;
        transition: .3s;
        z-index: 99999;
        box-shadow: 0 0 10px rgb(192, 190, 182);
    }

    .site-navbar ul li {
        width: 100%;
        text-align: left;
        padding-right: 0;
    }

    .site-navbar ul li a {
        padding: 25px 25px 0px 25px;
    }

    .site-navbar ul.open {
        max-height: 100vh;
        padding-bottom: 25px;
        overflow: visible;
    }

    .footer-logo {
        max-width: 125px;
    }

    .quote {
        margin: 0 -20px;
    }

    .map-image-container {
        margin-left: -20px;
        margin-right: -20px;
    }
}