/*--------------------------------------------------------------------- 
File Name: style.css 
---------------------------------------------------------------------*/

/*--------------------------------------------------------------------- 
CSS resets
---------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
article {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*--------------------------------------------------------------------- 
import Files 
---------------------------------------------------------------------*/

@import url(font-awesome.min.css);

/*--------------------------------------------------------------------- 
basic 
---------------------------------------------------------------------*/

:root {
    --padding-sm: clamp(1rem, 3%, 1.5rem);
    --padding-md: clamp(1.5rem, 6%, 3rem);
    --padding-lg: clamp(3rem, 12%, 6rem);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@font-face {
    font-family: "Sofia Pro";
    src: local("Sofia Pro"), url("../fonts/sofiapro-regular-webfont.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Sofia Pro Soft";
    src: local("Sofia Pro Soft"), url("../fonts/SofiaProSoftReg-webfont.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Sofia Pro Medium";
    src: local("Sofia Pro Medium"), url("../fonts/sofiapro-medium-webfont.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Sofia Pro Soft Medium";
    src: local("Sofia Pro Soft Medium"), url("../fonts/SofiaProSoftMed-webfont.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: 'Sofia Pro Soft', sans-serif;
    overflow-x: hidden;
    margin: 0;
}

header,
main,
footer {
    max-width: 1400px;
    margin: 0 auto;
    width: calc(100vw - 80px);
}

a {
    color: #1f1f1f;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

.article {
    margin-top: 40px;
    margin-bottom: 40px;
}

.read_more:hover {
    text-decoration: none !important;
    color: white !important;
}

p {
    margin: 0;
    color: #2d2d2d;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

/* Colours */
.orange {
    color: var(--orange-color);
}

.emerald {
    color: var(--emerald-color);
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.grid-rows {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, auto));
    gap: 1rem;
}

.grid-gap-1rem {
    display: grid;
    gap: 1rem;
}

.grid-gap-2rem {
    display: grid;
    gap: 2rem;
}

.grid-gap-3rem {
    display: grid;
    gap: 3rem;
}

.grid-equal-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.grid-split-2 {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 1rem;
}

.grid-justify-items-center {
    justify-items: center;
}

/* Flex */
.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-right {
    display: flex;
    align-items: center;
    justify-content: right;
}

.flex-card {
    border-radius: 24px;
    padding: 30px;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: flex-start;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

/* General */
.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.align-center {
    align-content: center;
}

.align-item-center {
    align-items: center;
}

.align-item-end {
    align-items: end;
}

.align-self {
    align-self: center;
}

.align-self-end {
    align-self: end;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.gap-4 {
    gap: 4rem;
}

.gap-5 {
    gap: 5rem;
}

/* General */
img {
    max-height: 150px;
    max-width: fit-content;
    width: auto;
}

:focus {
    outline: 0;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full-width {
    width: 100%;
}

.block {
    display: block;
}

.read_more {
    background: #F26448;
    color: #fff;
    padding: 14px 24px;
    text-align: center;
    border-radius: 30px;
    display: flex;
    gap: 0.75rem;
}

.text_align_left {
    text-align: left;
}

.text_align_right {
    text-align: right;
}

.text_align_center {
    text-align: center;
}

.img_responsive {
    max-width: 100%;
}

.container {
    max-width: 1170px;
    height: 100%;
    width: calc(100% - 30px);
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-narrow {
    max-width: 680px;
}

@media (min-width: 576px) {
    .container-wide {
        width: calc(100vw - 80px);
    }

    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/*-- Navbar --*/

.header-area {
    padding: 30px 0;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    align-content: center;
    flex-wrap: wrap;
}

.site-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.nav-link {
    display: block;
    text-decoration: none;
}

.mobile {
    display: none;
}

.site-navbar ul li {
    padding-right: 30px;
}

.site-navbar ul li:last-child {
    padding-right: 0;
}

.nav-link.active,
.nav-link:hover {
    color: #F26448;
}

.logo {
    width: 150px;
}

.logo-tm {
    font-size: 8px;
    vertical-align: top;
    font-family: 'Sofia Pro Soft';
}

.logo-image {
    padding: 0;
}

.nav-get-started {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-end;
}

/* nav-toggler css */
.nav-toggler {
    background-color: transparent;
    cursor: pointer;
    display: none;
    z-index: 99999;
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 99999;
}

/** Header **/
.slider_main {
    height: max(600px, calc(100vh - 163px));
    margin-bottom: 60px;
    border-radius: 24px;
}

.slider_main_background {
    background-position:
        90% 100%,
        95% 0%,
        0% 30%;
    background-image:
        url("../images/thermly_dog.svg"),
        url("../images/thermly_picture_frame.svg"),
        url("../images/thermly_window.svg");
    background-color: var(--light-blue-color);
    background-repeat: no-repeat;
    background-size:
        250px,
        250px,
        150px;
    transition: 0.3s;
}

.slider_community_background {
    background-position:
        90% 100%,
        95% 0%,
        0% 30%;
    background-image:
        url("../images/thermly_dog.svg"),
        url("../images/thermly_picture_frame.svg"),
        url("../images/thermly_window.svg");
    background-color: var(--light-green-color);
    background-repeat: no-repeat;
    background-size:
        250px,
        250px,
        150px;
    transition: 0.3s;
}

.slider_main:hover {
    background-color: var(--blue-color);
}

.slider_community_background:hover {
    background-color: var(--light-green-color);
}

.slider-content {
    gap: 3rem;
    flex-direction: column;
    max-width: 80%;
}

.circle-right-light {
    margin-left: 5px;
}

.intro-text {
    color: #101010;
    padding: 30px 0 30px 0;
    line-height: 26px;
    font-weight: 400;
}

.header-button-row {
    padding: 0 15px;
}

.header-learn-more {
    flex-direction: column;
}

/** What is Thermly **/
.what-box {
    border: 2px solid var(--bg4);
}

/** Why Thermly **/
.why-background {
    border-radius: 24px;
    background: url("../images/thermly_house_side.svg") var(--light-mint-color) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 50px 0;
    transition: 0.3s;
}

.why-background:hover {
    background-color: var(--mint-color);
}

.why-container {
    display: grid;
    gap: 1rem;
    align-content: center;
}

.why-box {
    border-radius: 24px;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/** How it works **/
.how-box {
    background-color: var(--bg2);
}

.logo-box {
    justify-content: center;
}

.how-step {
    color: rgba(20, 90, 108, 0.5)
}

/** Getting started **/
.get-started-background {
    border-radius: 24px;
    background-color: var(--emerald-color);
    background-image: url("../images/thermly_house_side.svg");
    background-size: auto 100%;
    background-position: right;
    padding: 50px 0;
}

.get-started-box {
    border: 2px solid var(--bg5);
}

.get-started-img {
    max-height: 100px;
}

.thermly-logo {
    max-height: 400px;
    max-width: 100%;
}

/** footer **/
.footer {
    padding: var(--padding-md);
    background: white;
    border-radius: 24px;
    border: 2px solid var(--bg4);
    margin-bottom: 20px;
}

.footer-logo {
    max-width: 150px;
    height: auto;
    padding-bottom: 40px;
}

.footer-nav {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(75px, auto));
    max-width: 385px;
}

.footer-nav-link {
    text-decoration: underline;
    color: var(--emerald-color);
}

.footer-disclaimer {
    color: var(--emerald-color);
    text-align: right;
}

/* Installer conference */
.intro-image {
    padding-bottom: 10px;
    max-width: 30%;
}

/* About us */

.about-us-intro-text {
    padding-top: 30px;
}

.values-background {
    border-radius: 24px;
    background-color: var(--bg2);
    padding: 50px 0;
}

/* Contact us */
.contact-us-header {
    padding: var(--padding-md);
    margin-bottom: 40px;
    border-radius: 24px;
    background-color: var(--earth-color);
    background-size: 300px;
}

@media (min-width: 991px) {
    .contact-us-header {
        height: max(600px, calc(100vh - 123px));
    }
}

/* Heat pumps */
.video-placeholder {
    max-width: 100%;
}

.video-placeholder:hover {
    cursor: pointer;
}

/* Video modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    display: inline-block
}

.close {
    color: var(--orange-color);
    font-size: 60px;
    position: fixed;
    top: 0;
    right: 20px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* FAQ */
.faq-container {
    border-radius: 24px;
    background-color: var(--emerald-color);
    padding: 50px 0;
}

.faq-column {
    gap: 2rem;
}

.faq-menu {
    display: grid;
    gap: 1rem;
    margin-bottom: 3rem;
}

.faq-menu-link {
    color: var(--bg5);
    cursor: pointer;
}

.faq-menu-link:hover {
    color: var(--mint-color);
}

.faq-menu-link.active {
    color: var(--yellow-color);
}

.faq-accordion-button {
    background-color: var(--emerald-color);
    cursor: pointer;
    padding: 20px 0 30px 0;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.5s;
}

.faq-accordion-button.active {
    color: var(--yellow-color);
}

.faq-accordion-button:hover {
    color: var(--mint-color);
}

.faq-accordion-panel {
    max-height: 0;
    border-bottom: 1px solid var(--bg5);
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    margin-bottom: 10px;
}

.faq-accordion-arrow {
    transition: 0.5s;
}

.faq-accordion-arrow-rotated {
    transition: 0.5s;
    transform: rotate(180deg);
}

/* Headers */
.page-header {
    border-radius: 24px;
    padding: 75px 0;
}

.about-us-header {
    background-position:
        100% 90%;
    background-image:
        url("../images/thermly_shelf.svg");
    background-color: var(--mint-color);
    background-repeat: no-repeat;
    background-size:
        200px;
}

.heat-pumps-header {
    background-position:
        90% 100%;
    background-image:
        url("../images/thermly_dog.svg");
    background-color: var(--yellow-color);
    background-repeat: no-repeat;
    background-size:
        200px;
}

.installers-header {
    background-position:
        100% 90%;
    background-image:
        url("../images/thermly_heatpump.svg");
    background-color: var(--blue-color);
    background-repeat: no-repeat;
    background-size:
        200px;
}

.how-it-works-header {
    background-position:
        95% 50%;
    background-image:
        url("../images/emerald_signpost.svg");
    background-color: var(--blue-color);
    background-repeat: no-repeat;
    background-size:
        175px;
}

/* Dividers */
.divider {
    margin: 64px 0;
}

.divider-house {
    width: 100%;
    max-height: 200px;
}

.divider-line {
    height: 2px;
    width: auto;
}

.divider-bush,
.divider-signpost {
    width: 100%;
}

/* Community */
.map-image {
    max-width: 100%;
    max-height: 100%;
}

.quote {
    margin: 0 -100vw;
    padding: 50px 0;
    background-color: var(--yellow-color);
}

.quote-circle {
    height: 32px;
    width: 32px;
    background-color: var(--emerald-color);
    border-radius: 50%;
    display: inline-block;
}

.promo-background {
    border-radius: 24px;
    background-color: var(--emerald-color);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 50px 0;
    transition: 0.3s;
}

/* How it works */
.how-it-works-step {
    padding: 8px 24px;
    border-radius: 8px;
    width: max-content;
}

.how-it-works-circle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
}

.how-it-works-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.how-it-works-rule {
    border-right: 4px solid var(--bg3);
    margin: -1.5rem 0;
    padding: 1.5rem 2rem;
    padding-left: 0;
}

.feedback-bar {
    border-radius: 8px;
    padding: 8px 24px;
    background-color: var(--bg2);
}