<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- site metas -->
    <title>Thermly</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Preload fonts-->
    <link rel="preload" href="../fonts/sofiapro-medium-webfont.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="../fonts/sofiapro-regular-webfont.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="../fonts/SofiaProSoftMed-webfont.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="../fonts/SofiaProSoftReg-webfont.woff2" as="font" crossorigin="anonymous">
    <!-- style css -->
    <link rel="stylesheet" href="../css/style.css?version=5">
    <link rel="stylesheet" href="../css/articles.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="../css/style.variables.css">
    <link rel="stylesheet" href="../css/globalFonts.css">
    <link rel="stylesheet" href="../css/globalColours.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Components -->
    <script src="../components/navbar-resident.js" type="text/javascript" defer></script>
    <script src="../components/footer.js" type="text/javascript" defer></script>
    <script src="../components/button.js" type="text/javascript" defer></script>
    <script src="../components/get-started.js" type="text/javascript" defer></script>
    <!-- fevicon -->
    <link rel="icon" href="../images/favicon.png" type="image/gif" />
    <!-- Tweaks for older IEs-->
    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XVWV3YKEDQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-XVWV3YKEDQ');
    </script>
</head>

<!-- body -->

<body class="main-layout">

    <navbar-resident></navbar-resident>

    <main>

        <hr style="border: 1px solid #E7EEF0; margin-bottom: 3rem;">
        </hr>

        <div class="container flex-column gap-3">

            <div class="text-small emerald-font">
                <a class="emerald-font" href="https://www.thermly.co.uk/articles" style="text-decoration: underline;">Articles</a> 
                <span class="text-small orange-font" style="padding: 0 0.75rem;">></span>
                Short title
            </div>

            <h1 class="display-large orange-font">Title of the article in large headline text</h1>

            <div class="flex gap-1">
                <div class="filter-button text-small emerald">
                    <a class="emerald-font" href="https://www.thermly.co.uk/articles">Buying advice</a>
                </div>
            </div>

            <div class="grid-article-container">

                <article class="flex-column gap-2">

                    <p class="heading-medium emerald font">
                        Lorem ipsum dolor sit amet consectetur. Odio egestas volutpat facilisis tincidunt velit. In vel
                        quis
                        fringilla maecenas et accumsan et. Cursus suscipit odio dapibus et tristique risus. Diam
                        pellentesque est lectus et a velit eget. Mi velit purus enim metus viverra aliquam.
                    </p>

                    <p class="text-standard emerald-font">
                        Lorem ipsum dolor sit amet consectetur. Id integer amet adipiscing nulla massa in hendrerit. Sed
                        dignissim ut sagittis egestas amet lorem. Sed egestas duis interdum felis. Odio dictum amet
                        purus
                        purus. At pellentesque ac diam morbi amet varius vulputate. Et et vel amet consectetur cursus
                        tincidunt lorem tellus. Mi aliquam semper vel faucibus pulvinar ipsum nullam. Tellus eu duis
                        sollicitudin nisl.
                    </p>

                    <div class="article-image-container">
                        <div class="article-image"></div>
                    </div>

                    <p class="text-standard emerald-font">
                        Lorem ipsum dolor sit amet consectetur. Id integer amet adipiscing nulla massa in hendrerit. Sed
                        dignissim ut sagittis egestas amet lorem. Sed egestas duis interdum felis. Odio dictum amet
                        purus
                        purus. At pellentesque ac diam morbi amet varius vulputate. Et et vel amet consectetur cursus
                        tincidunt lorem tellus. Mi aliquam semper vel faucibus pulvinar ipsum nullam. Tellus eu duis
                        sollicitudin nisl.
                    </p>

                    <p class="text-standard emerald-font">
                        Lorem ipsum dolor sit amet consectetur. Massa sed tellus ultrices turpis sapien ut elementum
                        diam.
                        Massa eget enim ipsum id ornare. Pulvinar malesuada vulputate sit euismod vel eu. Donec sed nam
                        sit
                        tellus sed non et diam velit. Morbi eget egestas facilisi facilisis. Vel gravida ligula sed
                        lectus
                        vitae.
                    </p>

                    <p class="text-standard emerald-font">
                        Lorem ipsum dolor sit amet consectetur. Ut vulputate luctus sit mauris aenean. Aliquet
                        sollicitudin
                        vitae in facilisi sit. Ac urna vitae tincidunt quam in leo est rhoncus feugiat. Auctor aliquam
                        aenean praesent imperdiet massa. Eleifend sit sodales sit amet. Rhoncus eu mauris aliquam
                        gravida.
                        Metus elementum.
                    </p>

                    <p class="text-standard emerald-font">
                        Lorem ipsum dolor sit amet consectetur. Amet est libero justo amet. Enim interdum diam arcu id.
                        Sed
                        in viverra leo consectetur volutpat leo. Tellus nibh venenatis varius id volutpat. At nisl massa
                        amet montes sagittis felis purus. Diam egestas nisl id malesuada diam. Maecenas sed pharetra
                        venenatis vitae adipiscing. Volutpat quisque aenean vestibulum aliquet senectus viverra. Dui
                        rhoncus
                        ultrices cras.
                    </p>

                    <p class="text-standard emerald-font">
                        Lorem ipsum dolor sit amet consectetur. Nulla vitae risus dictum quisque at ipsum urna. Faucibus
                        donec ornare elit ultrices. Facilisis bibendum mollis platea mattis purus libero vulputate
                        viverra.
                        Arcu odio consequat nec diam turpis et. Sit sit libero nisl pulvinar. Nunc imperdiet suspendisse
                        turpis libero orci viverra nulla. Dignissim nisl quam augue vitae sed et. Leo metus in velit
                        orci
                        sed velit urna. Ac viverra viverra velit id. Arcu ac sagittis at lorem. Diam nunc non.
                    </p>

                    <p class="heading-medium emerald-font article-quote">
                        Lorem ipsum dolor sit amet consectetur. Enim in risus purus viverra orci facilisi elementum.
                        Odio
                        leo eget nunc lacus.
                    </p>

                    <ul class="text-standard emerald-font article-list">
                        <li>Lorem ipsum dolor sit amet consectetur (40%)</li>
                        <li>Facilisis bibendum mollis platea (20%)</li>
                        <li>Arcu ac sagittis at lorem (20%)</li>
                        <li>Ut nullam sit vulputate faucibus (10%)</li>
                        <li>Ultricies pulvinar quam (10%)</li>
                    </ul>

                    <h2 class="heading-medium emerald-font">
                        Lorem ipsum dolor sit amet
                    </h2>

                    <p class="text-standard emerald-font">
                        Lorem ipsum dolor sit amet consectetur. Pellentesque vitae et auctor odio enim proin purus
                        consequat. Leo sem ac elit quis velit. Ut nullam sit vulputate faucibus. Commodo nulla lacus
                        congue
                        elementum odio. In sed sed egestas auctor vitae in pharetra eget. Dictumst volutpat in cursus
                        est
                        lorem scelerisque. Imperdiet volutpat consectetur orci aliquam. Leo ullamcorper arcu tristique
                        quam
                        ornare purus fringilla.
                    </p>

                    <p class="text-standard emerald-font">
                        Lorem ipsum dolor sit amet consectetur. Velit luctus sed amet id diam non blandit ut risus.
                        Feugiat
                        massa congue faucibus molestie. Non malesuada mauris vulputate porttitor lectus vel est
                        adipiscing
                        justo. Adipiscing varius enim rhoncus elit rhoncus mattis facilisis et. Nunc risus nibh ac sit
                        sed.
                        Lorem.
                    </p>

                </article>

                <div class="article-side-content">

                    <div class="text-standard emerald-font">
                        Space for ad or promo
                    </div>

                </div>

            </div>

            <get-started></get-started>

        </div>

    </main>

    <footer-standard></footer-standard>

    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/custom.js?version=106"></script>
</body>

</html>